body {
  margin: 0;
  padding: 0; }

.section-outer {
  padding-left: 20px;
  padding-right: 20px; }

.section-inner {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto; }

.red {
  color: red; }

.section-header {
  background: url("../img/background-header.png") no-repeat;
  background-size: cover; }
  .section-header .section-inner {
    height: 100vh;
    display: flex;
    flex-direction: column; }
  .section-header-logo-and-nav {
    display: flex;
    justify-content: space-between; }
  .section-header-nav {
    padding-top: 29px;
    display: flex; }
    .section-header-nav li {
      font-family: 'Montserrat', sans-serif;
      list-style: none; }
      .section-header-nav li:not(:first-child) {
        margin-left: 29px; }
      .section-header-nav li a {
        font-size: 14px;
        font-weight: bold;
        color: #263742;
        text-decoration: none;
        text-transform: uppercase; }
        .section-header-nav li a.red {
          color: red; }
  .section-header-logo {
    top: 0;
    background-color: #fa5c65;
    border-radius: 0 0 7px 7px;
    width: 140px;
    height: 74px; }
    .section-header-logo_text {
      font-family: 'Domine', serif;
      font-size: 20px;
      text-align: center;
      padding-top: 40px;
      color: #ffffff; }
  .section-header-content {
    flex-basis: 540px; }
    .section-header-content-wrapper {
      display: flex;
      flex-grow: 1;
      align-items: center; }
    .section-header-content-title {
      font-family: 'Montserrat', sans-serif;
      font-size: 48px;
      font-weight: bold;
      line-height: 53px;
      color: #314a5b;
      text-transform: uppercase; }
    .section-header-content-subtitle {
      font-family: 'Open Sans', sans-serif;
      margin-top: 26px;
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      color: #314a5b; }
    .section-header-content-button {
      font-family: 'Open Sans', sans-serif;
      margin-top: 41px; }
      .section-header-content-button .btn-main {
        font-size: 15px;
        font-weight: 700;
        line-height: 48px;
        color: #ffffff;
        width: 171px;
        height: 64px;
        border: none;
        border-radius: 7px;
        background: #fa5c65;
        cursor: pointer; }

.section-offer {
  margin-top: 86px;
  display: flex;
  justify-content: space-between; }
  .section-offer-item {
    flex-basis: 300px; }
  .section-offer-snip_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #314a5b;
    text-transform: uppercase; }
  .section-offer-snip_text {
    font-family: 'Open Sans', sans-serif;
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #9aa0ab; }
  .section-offer-snip_more {
    font-family: 'Montserrat', sans-serif;
    margin-top: 29px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; }
    .section-offer-snip_more .red {
      color: #fa5c65;
      text-decoration: none;
      cursor: pointer; }

.section-portfolio {
  margin-top: 104px;
  display: flex; }
  .section-portfolio-content {
    margin-left: 82px;
    flex-grow: 1; }
    .section-portfolio-content_title {
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 46px;
      color: #314a5b;
      text-transform: uppercase; }
    .section-portfolio-content_subtitle {
      font-family: 'Open Sans', sans-serif;
      margin-top: 17px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: #314a5b; }
    .section-portfolio-content_text {
      font-family: 'Open Sans', sans-serif;
      margin-top: 29px;
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      color: #9aa0ab; }
    .section-portfolio-content_more {
      font-family: 'Montserrat', sans-serif;
      margin-top: 40px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; }
      .section-portfolio-content_more .red {
        color: #fa5c65;
        text-decoration: none;
        cursor: pointer; }

.section-team {
  margin-top: 105px; }
  .section-team-description_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 53px;
    color: #314a5b; }
  .section-team-description_subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #9aa0ab; }
  .section-team-squad {
    margin-top: 40px;
    display: flex;
    justify-content: space-between; }
    .section-team-squad_content {
      display: flex;
      flex-basis: 300px; }
      .section-team-squad_content-photo {
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 50%; }
      .section-team-squad_content-info {
        padding-left: 21px;
        flex-grow: 1; }
        .section-team-squad_content-info_name {
          font-family: 'Montserrat', sans-serif;
          font-size: 22px;
          font-weight: 700;
          text-transform: uppercase;
          color: #314a5b; }
        .section-team-squad_content-info_profession {
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #f0454c; }
        .section-team-squad_content-info_text {
          font-family: 'Open Sans', sans-serif;
          margin-top: 13px;
          font-size: 14px;
          font-weight: 400;
          color: #9aa0ab; }
    .section-team-squad_more {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-top: 50px;
      text-align: right; }
      .section-team-squad_more .red {
        color: #fa5c65;
        text-decoration: none;
        cursor: pointer; }

.section-footer {
  border-top: 1px solid #e6eaed;
  margin-top: 62px;
  display: flex;
  padding-top: 25px;
  padding-bottom: 40px;
  justify-content: space-between; }
  .section-footer-socnet {
    font-size: 25px; }
    .section-footer-socnet a {
      color: #9aa0ab;
      text-decoration: none; }
    .section-footer-socnet .fa-facebook, .section-footer-socnet .fa-instagram {
      margin-left: 20px; }
  .section-footer-copyright {
    color: #9aa0ab; }
